body { max-width: 800px; padding: 30px 30px; word-break: keep-all; word-wrap: break-word; line-height: 1.7; font-family: sans-serif; font-size: 16px; }
header { margin-bottom: 30px; line-height: 1.5 }
footer { margin-top: 30px; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 16px; font-weight: 600; line-height: 1.25  }
h1, h2 { padding-bottom: .3em; border-bottom: 1px solid #eaecef; }
img { box-sizing: initial; max-width: 800px; width: 100%; display: block; }
ol, ul { padding-left: 2em; }
ol ol, ol ul, ul ol, ul ul { margin: 0; }
ul > li, ol > li { line-height: 1.7; }
a { color: #0366d6; text-decoration: none; }
a:hover { outline-width: 0; text-decoration: underline; }
small { font-size: 85%; color: #6a737d; font-weight: normal; }
h1 > code, h2 > code, li > code,  p > code { padding: .2em .4em; margin: 0; font-size: 90%; background-color: #f6f8fa; }
blockquote { margin: 5px 0 0 0; padding: 0 15px; color: #6a737d; border-left: .25em solid #dfe2e5; }
hr { color: #fdfdfd; }
p { margin: 0 0 1em 0; }
code { font-family: 'Consolas', 'Monaco', 'Ubuntu Mono', 'Andale Mono', monospace; }
.katex-display { background-color: #f6f8fa; padding: 20px; overflow: auto; }
.hljs { padding: 1em; font-size: 90%; line-height: 1.5; }
.table-of-contents { border-left: 1px solid #6a737d; font-size: 90%; line-height: 1.7; }
.table-of-contents ul { list-style-type: none; counter-reset: item; margin: 0; }
.table-of-contents ul li:before { content: counters(item, ".") ". "; counter-increment: item; }
.footnotes > .footnotes-list { padding: 0; counter-reset: list; font-size: 14px; }
.footnotes > .footnotes-list > .footnote-item { list-style-position: inherit; list-style: none; }
.footnotes > .footnotes-list > .footnote-item:before { content: "[" counter(list) "] "; counter-increment: list; }
.footnotes > .footnotes-list > .footnote-item > p { display: inline; }
.hljs{display:block;overflow-x:auto;padding:.5em;background:#282a36}.hljs-built_in,.hljs-selector-tag,.hljs-section,.hljs-link{color:#8be9fd}.hljs-keyword{color:#ff79c6}.hljs,.hljs-subst{color:#f8f8f2}.hljs-title,.hljs-attr,.hljs-meta-keyword{font-style:italic;color:#50fa7b}.hljs-string,.hljs-meta,.hljs-name,.hljs-type,.hljs-symbol,.hljs-bullet,.hljs-addition,.hljs-variable,.hljs-template-tag,.hljs-template-variable{color:#f1fa8c}.hljs-comment,.hljs-quote,.hljs-deletion{color:#6272a4}.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-title,.hljs-section,.hljs-doctag,.hljs-type,.hljs-name,.hljs-strong{font-weight:700}.hljs-literal,.hljs-number{color:#bd93f9}.hljs-emphasis{font-style:italic}
